/* Global variables */

:root{
    --primary-color: #2a2b30;
    --secondary-color: #aaaaaa;
    --profile-background: #d8d8d8;
    --card-background: #24252a;
    --options-background: #eeeeee;
    --white: #ffff;
    --light-green: #87b181;
    --black: #000000;
}

/* Resetting styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font styles */

body{
    font-family: "Roboto", sans-serif;
    /* background-color: var(--primary-color); */
    /* color: var(--white); */
}

.text-medium{
    font-size: 1.5rem;
}

/* Header section beginning */

.header{
    margin: 4.85rem 8.25rem 0rem 8.25rem;
    padding: 0 0.7rem;
    position: relative;
}

.header-logo{
    width: 11.75rem;
    height: 4.3rem;
}

.header-profile_icon{
    position: absolute;
    top: -12px;
    right: -15px;
    height: 4.2rem;
    width: 4.2rem;
    background-color: var(--profile-background);
    border-radius: 50%;
}

.header-options{
    display: block;
    position: absolute;
    list-style: none;
    opacity: 1;
    right: 1px;
    top: 83.5px;
    width: 16.25rem;
    height: 11.19rem;
    background-color: var(--options-background);
    color: var(--black);
    z-index: 100;
    padding-top: 1.63rem;
    /* padding-bottom: 1rem; */
}

.header-options-text{
    margin-bottom: 1.12rem;
    margin-left: 1.65rem;
    font-size: 1.04rem;
    font-weight: 600;
}

.header-options-text:last-child{
    margin-bottom: 0;
}

/* Header section ending */

/* Main section beginning */

.main{
    margin: 1.56rem 4.5rem 6.5rem 7.4rem;
    padding-right: 0.5rem;
}

/* Item card beginning */

.item{
    display: inline-block;
    margin: 1.5rem;
}

.item-info{
    background-color: var(--card-background);
    display: grid;
    place-items: center;
    height: 26rem;
    width: 20.45rem;
    position: relative;
}

.item-image-container{
    padding-top: 0.5rem;
    padding-right: 0.3rem;
}

.wardrobe-image-container{
    width: 11.7rem;
    height: 15.5rem;
    /* object-fit: fill; */
}

.jacket-image-container{
    width: 11.4rem;
    height: 15.9rem;
}

.round_neck-image-container{
    width: 15.2rem;
    height: 15.9rem;
}

.shirt-image-container{
    width: 14rem;
    height: 16.3rem;
}

.item-image{
    width: 100%;
    height: 100%;
}

.item-wishlist_icon{
    color: var(--light-green);
    font-size: 1.3rem;
    position: absolute;
    top: 22px;
    right: 22px;
}

.item-size{
    height: 3.7rem;
    width: 3.7rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: var(--light-green);
    color: var(--black);
    font-weight: 500;
    position: absolute;
    bottom: -29px;
    right: 22px;
}

.item-name_price_container{
    margin-top: 0.8rem;
    margin-bottom: 0.65rem;
}

.item-name{
    font-weight: 300;
    margin-bottom: 0.3rem;
}

.item-price, .item-cart_button{
    color: var(--secondary-color);
}

.item-price{
    font-weight: 350;
    font-size: 1.39rem;
}

.item-cart_button{
    padding: 0.7rem 1.15rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

/* Item card ending */

/* Main section ending */

/* Footer section beginning */

.footer{
    background-color: var(--black);
    color: var(--white);
    height: 7rem;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-nav-list{
    list-style: none;
    width: 50%;
    height: 100%;
    padding: 0 5.9rem;
    margin: auto;
}

.footer-nav-item{
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 1.75rem;
    line-height: 112px;
}


/* Footer section ending */

/* Pseudo class styles */

.header-profile_icon:hover, .item-cart_button{
    cursor: pointer;
}

/* .header-options:hover{
    display: block;
    position: absolute;
    list-style: none;
    opacity: 1;
    right: 0px;
    top: 82px;
    width: 16.2rem;
    height: 11.3rem;
    background-color: var(--white);
    color: var(--black);
    z-index: 100;
    padding-top: 1.79rem;
    padding-bottom: 1rem;
} */

.footer-nav-item:hover{
    cursor: pointer;
    text-decoration: underline;
}