:root{
    --magneto: #43133e;
    --primary-color: #7a1655;
    --secondary-color: white;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header section */

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--magneto);
    height: 12vh;
}

.header-title{
    color: var(--secondary-color);
    font-family: sans-serif;
}

/* Main section */

.cover>img, .collage-card>img{
    width: 100%;
}

.collage{
    margin: 6rem;
}

.collage-card{
    display: inline-block;
    width: 29.8rem;
    height: auto;
    margin: 1rem;
}

.collage-card-title{
    margin: 11px auto;
    font-family: "Open Sans", sans-serif;
    line-height: 45px;
    font-weight: 300;
    font-size: 35px;
}

.collage-card-place{
    font-family: "Work Sans", sans-serif;
}

.collage-card-description{
    font-family: "IBM Plex Sans", sans-serif;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
}

.collage-card-button{
    margin-bottom: 2rem;
    padding: 0.5rem 1.3rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
}

.collage-card-button:hover{
    text-decoration: underline;
}

/* Footer */

.footer{
    height: 9vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1.3rem 5rem;
    font-family: "IBM Plex Sans", sans-serif;
}

.footer-copyrights{
    font-size: 18px;
}

.footer-info{
    font-weight: 300;
}