/* Global variables */

:root{
    --black: #000;
    --white: #fff;
    --blue: #4b90e2;
    --green: #b8e986;
}

/* Resetting default styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font styles */

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--black);
    color: var(--white);
}

.highlight-blue{
    color: var(--blue);
}

.highlight-green{
    color: var(--green);
}

/* Header section beginning */

.header{
    margin: 4.3rem 11.3rem;
    display: flex;
    flex-direction: row-reverse;
}

.email{
    font-size: 1.6rem;
}

/* Header section ending */

/* Main section beginning */

.main{
    margin: 7.7rem 9.9rem;
}

.profile_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_info-name{
    font-size: 10.9rem;
    font-weight: 300;
}

.profile_info-tech{
    font-size: 3.3rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

/* Product card beginning */

/* Product card ending */

.product-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8.8rem 0 8.3rem 0;
}

.product-list-item{
    width: 26.9rem;
    margin: 1.2rem;
}

.logos-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logos-section-header{
    font-size: 2.9rem;
}

.logos-section-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 6rem 0 8rem 0;
}

.logos-section-list-item{
    width: 7rem;
    height: 5rem;
}

/* Main section ending */