/* Global variables */

:root{
    --black: #000;
    --white: #fff;
    --greyish-white: #cecece;
    --blue: #4b90e2;
    --green: #b8e986;
}

/* Resetting default styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font styles */

body{
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--black);
    color: var(--white);
}

.highlight-blue{
    color: var(--blue);
}

.highlight-green{
    color: var(--green);
}
/* Main section beginning */

.main{
    margin: 4.2rem 9.5rem 17.4rem 9.5rem;
}

.email-desktop{
    align-self: flex-end;
    font-size: 1.76rem;
    margin-bottom: 7.59rem;
    padding-right: 1.66rem;
    font-weight: 600;
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info-name{
    font-size: 11.1rem;
    font-weight: 300;
    word-spacing: -0.4rem;
}

.extra-bold{
    font-weight: 700;
    letter-spacing: -1px;
}

.shrink{
    letter-spacing: -2px;
}

.profile-info-tech{
    font-size: 3.3rem;
    color: var(--greyish-white);
    font-weight: 500;
    letter-spacing: 2.5px;
    margin-top: 0.5rem;
}

.email-mobile{
    visibility: hidden;
}

/* Product card beginning */

.product-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8.75rem 0 8.96rem 0.1rem;
    gap: 1.95rem 2.18rem;
}

.product-list-item-container{
    width: 27.08rem;
}

.product-list-item{
    width: 100%;
}

/* Product card ending */

.logos-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5.55rem;
}

.logos-section-header{
    font-weight: 500;
    font-size: 3.5rem;
    color: var(--greyish-white);
    letter-spacing: -0.08rem;
}

.logos-section-list{
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.7rem;
    margin: 0.5rem 0;
}

.logos-section-list-container{
    width: 9.9rem;
    /* height: 5.4rem; */
}

.logos-section-list-spotify-image-container{
    height: 2.78rem;
}

.logos-section-list-adidas-image-container{
    height: 5.4rem;
}

.logos-section-list-audi-image-container{
    height: 2.8rem;
}

.logos-section-list-lufthansa-image-container{
    height: 1.86rem;
}

.logos-section-list-ikea-image-container{
    height: 3.09rem;
}

.logos-section-list-montblanc-image-container{
    height: 4.25rem;
}

.logos-section-list-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Main section ending */

.header-footer-divider-container{
    display: flex;
    justify-content: center;
}

.header-footer-divider-container > div{
    border: 0.9px solid var(--white);
}

.header-footer-divider-small{
    width: 2.17rem;
    margin-left: 0.4rem;
    margin-right: 2.34rem;
}

.header-footer-divider-large{
    width: 14rem;
}

/* Footer section beginning */

.footer{
    margin-top: 6.45rem;
    margin-bottom: 9.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social-list{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0.7rem;
    margin-bottom: 5.5rem;
    gap: 0.59rem 1.2rem;
}

.footer-social-icon-container{
    width: 3.22rem;
    height: 3.22rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 1.2px solid var(--white);
}

.footer-social-icon{
    font-size: 2rem;
}

.footer-text{
    font-size: 1.36rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    word-spacing: 0.15rem;
}

 /* Footer section ending */

 /* Media Queries */

 @media (max-width: 1325px){
    .profile-info-name{
        font-size: 7rem;
        font-weight: 250;
    }
 }

 @media (max-width: 1024px){
    .main, .footer{
        margin: 0;   
    }

    /* Main section beginning */

    .main{
        margin-top: 7.2rem;
        margin-bottom: 9.6rem;
    }
    
    /* Profile section beginning */

    .email-desktop{
        visibility: hidden;
    }

    .profile-info-name{
        font-size: 3.74rem;
        letter-spacing: 3px;
    }

    .profile-info-tech{
        font-size: 2.4rem;
        letter-spacing: 0;
        margin-top: 1.25rem;
    }

    .shrink{
        all: unset;
    }

    .extra-bold{
        letter-spacing: 2px;
    }

    .email-mobile{
        visibility: visible;
        font-size: 1.2rem;
        margin-top: 0.75rem;
        letter-spacing: 0.6px;
        font-weight: 600;
        color: var(--greyish-white);
    }

    /* Profile section ending */

    /* Product list section beginning */

    .product-list{
        margin: 7.6rem 0 5.5rem;
        row-gap: 1.1rem;
    }

    .product-list-item-container{
        margin: 0 1.4rem;
    }

    /* Product list section ending */

    /* Logos section beginning */

    .logos-section{
        row-gap: 2rem;
    }

    .logos-section-header{
        font-size: 2.63rem;
    }

    .logos-section-list{
        justify-content: center;
        margin: 3.4rem 0;
        column-gap: 6rem;
        row-gap: 6rem;
    }

    .logos-section-list-container{
        width: 8.78rem;
    }

    .logos-section-list-spotify-image-container{
        height: 2.2rem;
    }
    
    .logos-section-list-adidas-image-container{
        height: 4.1rem;
    }
    
    .logos-section-list-audi-image-container{
        height: 2.4rem;
    }
    
    .logos-section-list-lufthansa-image-container{
        height: 1.8rem;
    }
    
    .logos-section-list-ikea-image-container{
        height: 2.63rem;
    }
    
    .logos-section-list-montblanc-image-container{
        height: 3.85rem;
    }

    /* Logos section ending */

    /* Main section ending */

    .header-footer-divider-small{
        width: 1.55rem;
        margin-right: 1.6rem;
    }

    .header-footer-divider-large{
        width: 9.55rem;
        margin-right: 0.2rem;
    }

    /* Footer section beginning */

    .footer{
        margin: 2.95rem 1.2rem 3.7rem 1.2rem;
        margin-top: 2.95rem;
        margin-bottom: 3.7rem;
    }

    .footer-social-list{
        margin-bottom: 4.45rem;
        column-gap: 1.575rem;
    }

    .footer-social-icon-container{
        width: 3.95rem;
        height: 3.95rem;
    }

    .footer-social-icon{
        font-size: 2.2rem;
    }

    .footer-text{
        font-size: 1.67rem;
        letter-spacing: 1.5px;
        word-spacing: unset;
    }

    /* Footer section ending */
 }