/* Global variables */

:root{
    --black: #000;
    --white: #fff;
    --header-background: #aae187;
    --circle-background: #00987c;
    --triangle-background: #ffabdc;
    --square-background: #e0e0e0;
    --dense-blue: #0e62d6;
    --light-blue: #3388ff;
    --dense-grey: #455e7f;
}

/* Webkit styles to remove arrows in number input */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* Resetting default styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts and other overall styles */

body{
    height: 100%;
    background-color: var(--black);
    color: var(--white);
    font-family: "Roboto", sans-serif;
}

.text-small{
    font-size: 0.7rem;
}

/* Header section beginning */

.header{
    height: 4.46rem;
    background-color: var(--header-background);
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.22rem;
    font-weight: 700;
    padding: 0.2rem 2rem 0;
    letter-spacing: 1.1px;
}

/* Header section ending */

/* Main section beginning */

.main{
    height: 55.4rem;
}

/* Common section styles beginning */

section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-info-text{
    font-size: 3.2rem;
    font-weight: 300;
}

.section-button{
    width: 13.655rem;
    height: 3.4rem;
    background-color: transparent;
    border: 1.5px solid var(--white);
    border-radius: 5px;
}

.section-button-text{
    color: var(--white);
    font-size: 1.5rem;
}

/* Common section styles ending */

/* Individual section styles beginning */

/* Shapes section beginning */

.shapes{
    padding-top: 4.5rem;
}

.shapes-list-container{
    margin-top: 5.8rem;
    margin-bottom: 5.72rem;
    margin-left: 0.35rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.shapes-list-item{
    margin: 0 2.22rem;
    position: relative;
}

.tick-mark{
    position: absolute;
    width: 3.2rem;
    height: 1.5rem;
    border-bottom: 2.5px solid var(--white);
    border-left: 2.5px solid var(--white);
    transform: rotate(-45deg);
}

.tick-mark-circle{
    top: 3.41rem;
    left: 3.4rem;
}

.shapes-circle{
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    background-color: var(--circle-background);
}

.tick-mark-triangle{
    top: 5.1rem;
    right: -1.5rem;
}

.shapes-triangle{
    width: 0;
	height: 0;
	border-left: 5rem solid transparent;
	border-right: 5rem solid transparent;
	border-bottom: 10rem solid var(--triangle-background);
}

.tick-mark-square{
    top: 3.65rem;
    left: 3.2rem;
}

.shapes-square{
    width: 9.6rem;
    height: 9.6rem;
    background-color: var(--square-background);
}

#shapes-section-button{
    visibility: hidden;
}

/* Shapes section ending */

/* Shape value section beginning */

.shape-value{
    padding-top: 1.6rem;
    display: none;
}

.shape-value-input{
    background-color: transparent;
    height: 5.39rem;
    width: 44.6rem;
    border: 1px solid var(--white);
    margin: 3.3rem 0;
    color: var(--white);
    font-size: 3.2rem;
}

/* Shape value section ending */

/* Calculation Result section beginning */

.shape-calculation-results{
    display: none;
    padding-top: 1.2rem;
}

.spacer{
    height: 2rem;
}

.result-container-wrapper{
    margin-bottom: 4.05rem;
}

.result-container{
    display: flex;
    height: 2.8rem;
    margin: 1.1rem 0;
}

.result-container > div{
    display: flex;
    align-items: center;
    font-weight: 300;
    padding: 0 0.82rem;
}

.result-heading{
    background-color: var(--dense-blue);
    font-size: 1.3rem;
    width: 12.69rem;
}

.result-formula{
    background-color: var(--dense-grey);
    font-size: 1.2rem;
    width: 8.14rem;
}

.result-value{
    background-color: var(--light-blue);
    font-size: 1.25rem;
    flex-grow: 1;
}

/* Calculation Result section ending */

/* Individual section styles ending */

/* Pseudo styles */

.section-button:hover, .shapes-list-item:hover{
    cursor: pointer;
}

input:focus{
    outline: none;
}