/* Global variables */

:root{
    --header-background: #3b1c67;
    --card-background: #4d67b4;
    --email-text-color: #fafbfd;
    --white: #fff;
}

/* Resetting default styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font styles */

body{
    font-family: "Open Sans", sans-serif;
}

/* Header section beginning */

.header{
    height: 6.1rem;
    background-color: var(--header-background);
    display: flex;
    align-items: center;
    color: var(--white);
    padding: 0 2.16rem;
}

.header-title{
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

/* Header section ending */

/* Main section beginning */

.main{
    margin: 4.25rem 0;
}

.friends-list-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.friend-list-item{
    width: 31.49rem;
    display: flex;
    align-items: center;
    background-color: var(--card-background);
    margin: 0.45rem;
    padding-top: 0.9rem;
    padding-left: 0.9rem;
    padding-bottom: 1.2rem;
}

.profile-image-container{
    height: 4.5rem;
    width: 4.5rem;
}

.profile-info-container{
    margin-left: 1.42rem;
}

.profile-image{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
}

.user-name{
    color: var(--white);
    font-size: 1.2rem;
}

.user-email{
    color: var(--email-text-color);
    font-size: 0.88rem;
    font-weight: 300;
}

/* Main section ending */